.DS_Store
.rnd
.cache
.php_cs.cache
.php-cs-fixer.cache
.composer-history

/vendor
/vendor*
/node_modules

.env
.aws.json
.idea/*

_ide_helper.php
_ide_macros.php
_ide_helper_models.php
.phpstorm.meta.php
/.generics/
yarn-error.log

npm-debug.log*
.phpunit.result.cache
composer.lock
